<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Solor Frontier" data-text="Process Management tool" data-moreinfo="powerd by BPO　Foundation Group"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="slogan" data-view="Text" data-title="スローガン" data-text="正確な作業を心がけましょう" data-moreinfo="powerd by BPO　Foundation Group" style="background-color:#2ecc71"></div>
      <i class="icon-ok icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="completed_1" data-view="Meter" data-title="一次チェック" data-min="0" style="background-color:#1abc9c"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="completed_2" data-view="Meter" data-title="スキャン" data-min="0" style="background-color:#2ecc71"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="completed_3" data-view="Meter" data-title="登録" data-min="0" style="background-color:#3498db"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="completed_4" data-view="Meter" data-title="二次チェック 1" data-min="0" style="background-color:#9b59b6"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="completed_5" data-view="Meter" data-title="二次チェック 2" data-min="0" style="background-color:#8e44ad"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="completed_per_days" data-view="Graph" data-title="日次処理完了件数" style="background-color:#9b59b6;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="completed_per_months" data-view="List" data-unordered="true" data-title="処理件数" style="background-color:#f39c12"></div>
      <i class="icon-check icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="checking" data-view="List" data-unordered="true" data-title="入力中/確認中" style="background-color:#e74c3c"></div>
      <i class="icon-bookmark icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="extra" data-view="Text"></div>
      <i class="icon-globe icon-background"></i>
    </li>
  </ul>
</div>